.layout {
    height: 80vh;
    width: 100%;
  
    display: grid;
    grid-template-areas: 
        "main";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 8px;
    text-align: center;
    padding: 6px 0px;
    box-sizing: border-box;
  }
  
  .main { grid-area: main; }


@media (max-width: 768px) {
  .layout {
      grid-template-rows: auto;
  }
}
  